Django==5.2.1
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow
requests
gunicorn
whitenoise
psycopg2-binary
python-decouple
dj-database-url
fedapay
cloudinary==1.44.1
python-decouple==3.8
reportlab==4.4.10
django-cloudinary-storage==0.3.0
